h1, p, h2, li {
    color: white;
}

#primeiro-paragrafo {
    text-align: center;
}

/* seletores de classe */
.myclass {
    border: 0.2em ridge rgb(201, 193, 178);
}

/* junção de seletores */
li.myclass {
    background-color: rgba(245, 222, 179, 0.356);
    font-size: 1.2em;
}

.newclass {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.teste-cores {
    padding: 2%;
    background-color: rgba(65, 117, 165, 0.678);
}