h1 { 
    text-align: center;
}

header {
    
}

main {
    padding: 5px;
    margin:auto ;
    width: 75vh;
    background-color: white;
    border-radius: 10px 10px 10px;
    box-shadow: 3px 1px 5px;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
    background-color: antiquewhite;
}
