body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: white; */
    background-color: rgba(0, 0, 0, 0.404);
}


.formulario {
    margin: 1rem;
    padding: 2rem;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    border-radius: 4px;
    padding: 3px;
    border-color: darkgray;
}

#date:hover {
    color: white;
    background-color: rgb(28, 71, 53);
    transition: 1s; 
    
}